.contact {
    // margin: auto;
    // background-color: red;
    // color: #fff;
    // display: block;
    // max-width: 200px;
    // width: 100%;
    // text-align: center;
    // padding: 11px 0;
    // text-decoration: none;
}