.footer {
    padding: 72px 0;
    margin-top: 100px;
    background-color: #a30126;
    width: 100%;
    position: relative;
    z-index: 1;

    &__menu {
        margin: 0;
        padding: 0;
        display: flex;

        li {
            list-style: none;
            margin: 0;
            padding-left: 12px;

            a {
                padding: 12px;
                font-size: 18px;
                color: #fff;
                text-decoration: none;
                display: block;
            }
        }
    }

    &__soc {
        margin: 0;
        padding: 0;
        display: flex;

        li {
            list-style: none;
            margin: 0;

            a {
                text-decoration: none;
                display: block;

                svg {
                    width: 32px;
                }

                path {
                    fill: #fff;
                }
            }
        }
    }
}