.text {
    max-width: 700px;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    color: #2a2a2a;
    line-height: 1.625;
}

.weare {
    h1 {
        color: #2a2a2a;
    }
}