.text {
    max-width: 700px;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    color: #2a2a2a;
    line-height: 1.625;
}

.weare {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h1 {
        color: #2a2a2a;
    }

    &__cover {
        width: 100%;
        max-width: 500px;
        margin: auto;
        margin-bottom: 30px;
    }
}