.section {
    // padding: 38px 0;
    padding: 96px 0;
    position: relative;
    background-color: transparent;

    @media (max-width: 991px) {
        padding: 76px 0;
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 32px;

        h1 {
            color: #a30026;
            font-size: 30px;
            text-align: center;
            font-weight: 700;
            margin: 0;

            @media (max-width: 991px) {
                font-size: 26px;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: #a30026;
        font-size: 16px;
        font-weight: 600;

        &:hover {
            text-decoration: underline
        }
    }

}

.page {
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 76px;

        h1 {
            font-size: 48px;
            color: #a30026;
            text-align: center;
            margin: 0;
            margin-bottom: 32px;

            @media (max-width: 991px) {
                font-size: 40px;
            }
        }

        p {
            color: #04294f;
            text-align: center;
            margin: 0;
            line-height: 32px;
            font-size: 18px;
        }
    }
}