.section {
    // padding: 38px 0;
    padding: 96px 0;
    position: relative;
    background-color: #e5e7eb;

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 32px;

        h1 {
            color: #a30026;
            font-size: 30px;
            text-align: center;
            font-size: 30px;
            font-weight: 700;
            margin: 0;
        }
    }

    &__link {
        text-decoration: none;
        color: #a30026;
        font-size: 16px;
        font-weight: 600;

        &:hover {
            text-decoration:underline
        }
    }

}

.page {
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 76px;

        h1 {
            font-size: 48px;
            color: #a30026;
            text-align: center;
            margin: 0;
        }

        p {
            color: #04294f;
            text-align: center;
            margin: 0;
        }
    }
}