.cover {
    width: 100%;
    height: 270px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;

    
    &__img {
        height: 100%;
        @media (max-width: 991px) {
            width: 100%;
        }
    }
}

.text {
    max-width: 90%;
    margin: auto;
}