.cover {
    width: 100%;
    // height: 270px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;

    @media (max-width: 992px) {
        height: 270px;
    }

    &__img {
        width: 100%;

        @media (max-width: 992px) {
            height: 100%;
            object-fit: contain;
        }
    }
}

.text {
    max-width: 90%;
    margin: auto;
    line-height: 32px;
    font-size: 18px;
    text-align: justify;
}