.cover {
    width: 100%;
    height: 270px;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
    
    &__img {
        height: 100%;
    }
}

.text {
    max-width: 90%;
    margin: auto;
}
