.camps-container {
    // max-width: 1024px;
    width: 100%;
    margin: auto;

    &__text {
        font-size: 18px;
        line-height: 28px;
    }
}
.cover {
    width: 100%;
    // height: 200px;
    margin: 0;
    overflow: hidden;
    border-radius: 20px;

    img {
        height: 100%;
    }
}