.header {
    width: 100%;
    position: sticky;
    z-index: 3;
    top: 0;
}

.socbar {
    width: 100%;
    background-color: rgba(#a30026, .9);
    padding: 7px 0;
    position: relative;
    z-index: 1;

    ul {
        padding: 0;
        margin: 0;
        display: flex;
        
        li {
            list-style: none;
            margin-left: 7px;

            a {
                text-decoration: none;
                display: block;
                padding: 3px;

                svg {
                    width: 20px;
                    fill: #fff;
                }
            }
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    height: 72px;

    img {
        height: 100%;
    }

    @media (max-width: 992px){
        padding: 8px 0;
    }

    @media (max-width: 540px) {
        width: 300px;

        img {
            height: 100%;
        }
    }

    @media (max-width: 450px) {
        width: 200px;

        img {
            width: 100%;
        }
    }
}

.navbar {
    width: 100%;
    // height: 5rem;
    background-color: #a30026;
    display: flex;
    align-items: center;

    &__burger {
        background-color: transparent;
        border: none;
        padding: 0;
        outline: none;
        margin-right: 7px;
        margin-top: 2px;

        svg {
            height: 32px;
            fill: #fff;
        }
    }
}

.menu {
    margin: 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
    width: unset;
    align-items: center;
    background-color: transparent;
    right: 0;
    top: 100%;
    position: unset;

    @media (max-width: 992px) {
        width: 100%;
        position: absolute;
        flex-direction: column;
        background-color: #a30126;
    }

    a,
    p {
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        white-space: nowrap;
    }

    &__category {
        width: unset;
        margin: 0;
        padding: 0;
        position: absolute;
        background-color: #800020;
        display: block;
        top: calc(100%);
        z-index: 1;
        box-shadow: 0px 0px 29px -10px #2a2a2a91;

        @media (max-width: 992px) {
            width: 100%;
        }

        &--link {
            margin: 6px 0;
            padding: 7px 16px;
            text-align: center;

            &:hover {
                color: #e84862;
            }
        }
    }

    &__item {
        width: 100%;
        list-style: none;
        position: relative;
        margin: 0 6px;
        height: 100%;
        display: flex;
        align-items: center;

        &:hover & {
            &--link {
                color: #e84862;
            }
        }

        // &:active {
        //     .menu__category, ul {
        //         display: none;
        //     }
        // }

        &--link {
            width: 100%;
            padding: 26px 6px;
            text-align: center;
        }

        p {
            cursor: default;
            margin: 0;
        }
    }
}

.language {
    background-color: #ffffff1a;
    outline: none;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;

    &:hover {
        background-color: #ffffff33;
    }
}