.header {
    width: 100%;
    position: sticky;
    z-index: 3;
    top: 0;
}

.socbar {
    width: 100%;
    background-color: #aa012c;
    padding: 7px 0;
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px 0;

    img {
        height: 44px;
    }
}

.navbar {
    width: 100%;
    background-color: #800020;
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    // height: 100%;
    align-items: center;
    width: 100%;
    align-items: center;
    background-color: transparent;
    right: 0;
    top: 100%;
    position: relative;

    @media (max-width: 991px) {
        position: absolute;
        flex-direction: column;
        background-color: #800020;
    }

    a,p {
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        white-space: nowrap;
    }
    
    &__category {
        margin: 0;
        padding: 0;
        position: absolute;
        background-color: #800020;
        display: block;
        top: calc(100% + 4px);
        z-index: 1;
        box-shadow: 0px 0px 29px -10px #2a2a2a91;

        &--link {
            margin: 6px 0;
            padding: 7px 16px;
        }
    }

    &__item {
        list-style: none;
        position: relative;
        margin: 0 6px;
        height: 100%;
        display: flex;
        align-items: center;
        border-bottom: 4px solid transparent;

        &:hover {
            border-bottom: 4px solid #aa012c;
        }

        // &:active {
        //     .menu__category, ul {
        //         display: none;
        //     }
        // }

        &--link {
            padding: 11px 6px;
        }

        p {
            cursor: default;
            margin: 0;
        }
    }
}