.custom_container { 
    // max-width: 1024px;
    display: flex;
    justify-content: center;
}

.popup {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &__bg {
        background-color: #2a2a2a;
        opacity: .7;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        z-index: 1;
    }

    &__content {
        margin-top: 100px;
        background-color: #fff;
        position: relative;
        z-index: 1;
        padding: 20px;
        border-radius: 20px;
    }

    &__cover {
        width: 200px;
        margin: 0;
        border-radius: 20px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &__text {
        max-width: 400px;
    }
}