.custom_container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
}

.popup {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    // justify-content: center;
    align-items: center;

    &__bg {
        background-color: #2a2a2a;
        opacity: .7;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        z-index: 1;
    }

    &__content {
        margin-top: 100px;
        background-color: #fff;
        position: relative;
        z-index: 1;
        padding: 20px;
        border-radius: 20px;

        @media (max-width:992px) {
            width: calc(100% - 24px);
        }
    }

    &__cover {
        width: 480px;
        height: 616px;
        margin: 0;
        border-radius: 20px;
        overflow: hidden;

        @media (max-width:992px) {
            width: 300px;
            height: unset;
        }

        img {
            width: 100%;
        }
    }

    &__text {
        max-width: 400px;
        overflow: auto;
        height: 100%;
        max-height: calc(100vh - 200px);

        @media (max-width: 992px) {
            max-height: unset;
            height: 300px;
            max-width: unset;
            width: 100%;
        }
    }
}