.itemcard {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    margin: 15px 0;
    box-shadow: 0px 0 17px -10px #2a2a2a;

    &__cover {
        height: 200px;
        width: 100%;
        margin: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        overflow: hidden;

        &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        padding: 18px 12px;

        &--title {
            margin: 0;
            font-size: 22px;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-word;
            height: 50px;
            line-height: 22px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }

        &--desc {
            font-size: 16px;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-word;
            max-height: 66px;
            line-height: 16px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;

            p {
                margin: 0;
            }
        }

        &--link {
            margin: 15px 0 0 0;
            display: block;
        }

        &--contact {
            margin: auto;
            background-color: #800020;
            color: #fff;
            display: block;
            max-width: 200px;
            width: 100%;
            text-align: center;
            padding: 11px 0;
            text-decoration: none;
        }
    }
}