.item {
    border-radius: 5px;
    overflow: hidden;
    margin: 15px 0;

    &__cover {
        height: 370px;
        width: 100%;
        margin: 0;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 0 17px -10px #2a2a2a;

        &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h1,
    p {
        text-align: center;
        margin: 0;
    }
}