.item {
    border-radius: 8px;
    overflow: hidden;
    margin: 15px 0;
    // padding: 15px 0;
    position: relative;
    border: 2px solid transparent;

    &:hover {
        border: 2px solid #a30126;
        cursor: pointer;
    }

    &__cover {
        height: 384px;
        width: 100%;
        margin: 0;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 0 17px -10px #2a2a2a;

        &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h1,
    p {
        text-align: center;
        margin: 0;
    }

    h1 {
        position: absolute;
        bottom: 0;
        background: rgba(#2a2a2a, .8);
        color: #fff;
        font-size: 18px;
        width: 100%;
        padding: 20px 0;
    }
}