.item {
    border-radius: 5px;
    overflow: hidden;
    margin: 15px 0;

    &__cover {
        height: 370px;
        width: 100%;
        margin: 0;

        &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h1,p {
        text-align: center;
        margin: 0;
    }
}