.cover {
    width: 100%;
    margin: 0;
    margin-bottom: 18px;

    img {
        width: 100%;
    }
}

.card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin: 15px 0;
    box-shadow: 0px 0 17px -10px #2a2a2a;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    transition-duration: 300ms;
    padding: 10px 20px;

    li {
        list-style: none;
        display: flex;
        align-items: center;
        font-size: 18px;
        padding: 5px 0;
        margin: 5px 0;

        svg {
            width: 16px;
            margin-right: 12px;
            fill: #a30026;
        }
    }
}