.item {
    border-radius: 5px;
    overflow: hidden;
    margin: 15px 0;

    &__cover {
        height: 50px;
        width: 50px;
        margin: 0 0 15px 0;
        border-radius: 50%;
        overflow: hidden;

        &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h1,
    p {
        margin: 0;
    }

    &__text {
        color: #4b5563;
        font-size: 18px;
        line-height: 32px;

        h1 {
            margin-bottom: 12px;
            color: #111827;
            font-size: 24px;
            line-height: 28px;
            font-weight: 700;
        }
    }
}