.item {
    border-radius: 5px;
    overflow: hidden;
    margin: 15px 0;

    &__cover {
        height: 50px;
        width: 50px;
        margin: 0 auto 15px auto;
        border-radius: 50%;
        overflow: hidden;

        &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h1,p {
        text-align: center;
        margin: 0;
    }
}