.blog {
    max-width: 600px;

    &__link {
        display: block;
    }
}

.item {
    width: 100%;
    border-bottom: 1px solid grey;
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;


    &__in {
        // width: calc(100% / 4);
        display: flex;
        align-items: center;
        color: #000;
        text-decoration: none;
        text-wrap: nowrap;
        overflow: hidden;

        img {
            width: 50px;
            height: 50px;
        }
    }
}