.btn {
    margin: auto;
    background-color: #a30026;
    color: #fff;
    display: block;
    text-align: center;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    
    p {
        font-size: 16px;
        margin: 0;
        padding: 8px;
    }
}