.geocalligraphy {
    margin-top: 100px;
}

.cover {
    width: 330px;
    height: 100%;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 30px;

    @media (max-width: 992px) {
        width: 100%;
        height: 270px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.text {
    max-width: 90%;
    margin: auto;
    line-height: 32px;
    font-size: 18px;
    text-align: justify;
}