.message {
    &__cover {
        width: 100%;
        margin: 0;
        border-radius: 20px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &__title {
        font-size: 24px;
    }

    &__text {
        line-height: 32px;
        font-size: 18px;
        text-align: justify;
    }
}